.app-wrapper {
    display: flex;
    flex-direction: column;
}

.route-width {
    max-width: 60rem;
    margin: auto;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* buttons */
/* pills */

/* remove padding or whatever above <p>s */
/* remove border from all fieldsets */


/* media queries
@media (min-width: 768px) {
    .main-content-wrapper {
        margin: 0rem 4rem;
    }
}
@media (min-width: 950px) {
    .main-content-wrapper {
        margin: 0rem 6rem;
    }
} */